
/* Colores */
$white: white;
$black: black;
$yellow: #fbffa7;
$blue: #0000ff;
$lightBlue: #b1c5ff;
$green: #b6ffc0;
$magenta: #d5b3ff;
$orange: #ff764d;

/* Medidas Responsive */

$tablet: 768px;
$laptop: 1024px;
$desktop: 1200px;


/*fuentes*/
$fuente-principal: 'Roboto', sans-serif;